@import '~react-md/src/scss/react-md';

$md-secondary-color: #4140DF;

@include react-md-everything;

body, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #000;
}

div, span, h1, h2, h3, h4, h5, h6, p, a, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
