html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  color: #000;
}
button {
  border: none;
  padding: 0;
  outline: none;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
  cursor: pointer;
}
* {
  outline: none;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.tablet-hidden-later {
  display: inline;
  @media screen and (max-width: 970px) {
    display: none;
  }
}

.tablet-hidden {
  display: inline;
  @media screen and (max-width: 1120px) {
    display: none;
  }
}
.mobile-hidden {
  display: inline;
  @media screen and (max-width: 760px) {
    display: none;
  }
}
.desktop-hidden {
  display: inline;
  @media screen and (max-width: 970px) {
    display: none;
  }
}
.desktop-hidden-later {
  display: inline;
  @media (min-width: 970px) {
    display: none;
  }
}

#main {
  &.cookie-bar-bottom-bar {
    bottom: 70px;
  }
}

.disclaimer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eeeeee;
  width: 100vw;
  padding: 8px 20px;
  height: 70px;
  z-index: 99999;

  .disclaimer-text {
    font-weight: 600;
    font-size: 18px;
    color: #3f3f3f;
    white-space: normal;
    margin-right: 20px;

    @media (max-width: 500px) {
      font-size: 90% !important;
    }
  }

  .disclaimer-link, .disclaimer-link:hover, .disclaimer-link:visited {
    font-weight: 900;
    font-size: 18px;
    color: #603f98;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    @media (max-width: 500px) {
      font-size: 90% !important;
    }
  }

  .button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: 15px 'Nunito Sans', sans-serif;
    letter-spacing: 0.47px;
    padding: 20px 38px;
    border-radius: 100px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.38px;
    padding: 12px 21px;
    margin: 1px 13px 0;
    font-weight: 700;
    background-color: #009fff;
    width: 160px;
  
    &:hover {
      color: #009fff;
      background-color: #ffffff;
      border: 1px solid #009fff;
    }

    @media (max-width: 500px) {
      font-size: 15px;
      width: 140px;
    }
  }
}

.react-datepicker__input-container {
  input {
    font-size: 15px;
    width: 190px;
  }
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/static/fonts/NunitoSans-ExtraLight.ttf');
  font-weight: 200;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('/static/fonts/NunitoSans-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('/static/fonts/NunitoSans-Bold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('/static/fonts/NunitoSans-ExtraBold.ttf');
  font-weight: 800;
}
