// sass-lint:disable no-ids
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  nav {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #eeeeee;
    padding: 10px 40px 10px 40px;

    @media (max-width: 767px) {
      padding: 10px 16px 10px 16px;
    }

    a {
      line-height: 2;
      color: var(--jade);
      margin-right: 20px;
      white-space: nowrap;
    }
  }

  .content {
    flex: 1;
    min-height: 200px;
    padding: 20px 40px 40px 40px;

    @media (max-width: 767px) {
      padding: 20px 16px 40px 16px;
    }
  }
}
