@import '../styles/colors';

.contact-form {
    display: flex;
    justify-content: center;
    width: 720px;
    border-radius: 30px;
    background-color: #fff;
    padding: 50px;
    text-align: center;
    margin: auto;
    z-index: 3;
    position: relative;

    background: #FFFFFF;
    box-shadow: 0px 3px 20px rgba(80, 103, 235, 0.25);
    border-radius: 6px;
  
    @media (max-width: 768px) {
        max-width: 400px;
        width: 100%;
        padding: 2em 0;
    }

    @media (max-width: 580px) {
        max-width: 300px;
        width: 100%;
        padding: 2em 0;
    }

    .form-heading {
        font-size: 36px;
        line-height: 36px;
        text-align: center;
        color: #131F37;
        margin: 15px 40px 30px;
    }

    .recaptcha-container {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .bottom {
        position: absolute;
        height: 50px;
    }

    .form {
        width: 100%;
        z-index: 3;
    }

    .checkbox-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 13px;
    }

    .checkbox {
        margin: 10px 10px 0 5px;
        outline: none;
    }

    .label {
        font-family: 'Inter', 'Nunito Sans', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: italic;
        font-stretch: normal;
        line-height: 17px;
        letter-spacing: normal;
        text-align: left;
        color: #727E97;
        margin-bottom: 5px;

        a {
            color: #4140DF;
            text-decoration: none;

            &:visited {
                color: #4140DF;
            }
        }
    }

    .input {
        font-family: 'Inter', 'Nunito Sans', sans-serif;
        background: #EEF2FA;
        color: #727E97;
        border: none;
        padding: 15px 25px;
        margin: 20px 0 0;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.05em;
        font-weight: normal;
        outline: none;

        @media (max-width: 580px) {
            max-width: 250px;
        }
    }

    .textarea {
        font-family: 'Inter', 'Nunito Sans', sans-serif;
        color: #727E97;
        height: 155px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.05em;
        padding: 15px 25px;
        margin: 20px 0 0;
        border: none;
        background: #EEF2FA;
        border: none;
        outline: none;
        resize: none;

        @media (max-width: 580px) {
            max-width: 250px;
        }
    }

    .control-wrapper {
        width: 100%;
        margin-top: 40px;
        padding: 0;
    }

    .input-form-wrapper {
        display: flex;
        flex-direction: column;
    }

    .column-form-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
      
        @media (max-width: 768px) {
          margin: 0;
          padding: 0;
        }
    }

    .error-wrapper, success-wrapper {
        width: 100%;
        max-width: 1440px;
        padding: 0 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 60px;
    }

    .success-wrapper {
        margin: 60px auto 75px;
        padding: 0;
    }

    .error, .success {
        padding: 15px 0 0px;
        font-size: 13px;
        font-weight: 800;
        letter-spacing: 0.84px;
        text-align: center;
        text-transform: uppercase;
        color: #fba471ff;

        @media (max-width: 760px) {
          margin-bottom: 40px;
        }
    }
}

.contact-form-wrapper {
    position: relative;
    margin: 50px 0 100px;

    @media (max-width: 768px) {
        margin: 50px 0;

        .contact-form-left {
            display: none;
        }

        .contact-form-right {
            display: none;
        }

    }
}